head{
  font-family: Oswald, sans-serif, 'Open sans';
}

body{
  margin:0px;
  padding-top: 21px;
  padding-left: 9px;}

.Header{
  float:left;
  position:relative;
  overflow:auto;
  font-family: Oswald, sans-serif;
  background-image: url("../img/header.jpg");
  width:1300px;
  height:523px;
  margin-top:-13px;
}

ul{
  list-style:none;
}

li{
  list-style:none;
  /* margin:0px; */
  display:inline-block;
}

ul.top-functions{
  position:relative;
  top:-6px;
  padding-left:140px;
}

.as{
  text-align:right;
  float:right;
  font-size:1.1em;
  padding-right: 183px;
  padding-top: 8px;

}
/* .search{}
.about{padding-right:1px;} */

.top-heading {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding-bottom: 32px;
  font-weight: 400;
  margin-left: 12px;
}

.sp-title{
  display: inline-block;
  text-align: center;
  margin: 0px auto;
  width: 100%;
  padding-top: 99px;
  padding-left: 0px;
}

.site-title{
  font-size: 5.3em;
  margin: 0px;
  padding: 0px;
  color: white;
}

.site-title-footer{
  margin-top:-13px;
}


/* Main Body */

.main-body{
  float:left;
  margin:0px auto;
  width:55%;
  text-align:center;
}

.article-title{
  font-family: Oswald, sans-serif, 'Open sans';
  color: hsla(222, 86%, 21%, 1);
  font-weight: 400;
  font-size: 63px;
  line-height: 1.1;
  margin-bottom: 0px;
  padding-left: 122px;
  padding-top: 21px;
}

.title-authors{
  margin-top: 8px;
float: left;
position:relative;
  padding-left: 165px;
  font-size: 15px;
}

.title-authors li{
  /* float:left; */
}

.title-authors li span img{
  float:left;
  height:22px;
  width: 22px;
}

.anne,.date-time{
  postion:absolute;
  padding-bottom: 5px;
}

.anne{

  color:hsla(222, 57%, 29%, 1);}

.date-time{
  padding-left:25px;
}

.content{
  float:left;
  text-align:left;
  padding-left:160px;
  font-family: Oswald, sans-serif, 'Open sans';
  color:hsla(0, 0%, 27%, 1);
  font-weight: 100;
}

blockquote{
  font:32px normal sans-serif;
  color: hsla(205, 67%, 55%, 1);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 160px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
  float:left;
  padding:left:165px;
}

.links{
  float:left;
  height: 25px;
  vertical-align: center;
  margin: 0 auto;
  width: 100%;
}

.links li{
  background-color: hsla(205, 21%, 55%, 1);
  height: 30px;
  padding-top:12px;

}
.links li img{

  width:15px;
  height:12px;
  background-color:hsla(0, 0%, 25%, 1);
}
