head{
  font-family: Oswald, sans-serif, 'Open sans';
}

body{
  margin:0px;
  padding-top: 21px;
  padding-left: 9px;
}

.Header{
  float:left;
  position:relative;
  overflow:auto;
  font-family: Oswald, sans-serif;
  background-image: url("../img/header.jpg");
  width:1300px;
  height:523px;
  margin-top:-13px;
}

ul{
  list-style:none;
}

li{
  list-style:none;
  /* margin:0px; */
  display:inline-block;
}

ul.top-functions{
  position:relative;
  top:-6px;
  padding-left:140px;
}

.as{
  text-align:right;
  float:right;
  font-size:1.1em;
  padding-right: 183px;
  padding-top: 8px;

}

.top-heading {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  padding-bottom: 32px;
  font-weight: 400;
  margin-left: 12px;
}

.sp-title{
  display: inline-block;
  text-align: center;
  margin: 0px auto;
  width: 100%;
  padding-top: 99px;
  padding-left: 0px;
}

.site-title{
  font-size: 5.3em;
  margin: 0px;
  padding: 0px;
  color: white;
}

.site-title-footer{
  margin-top:-13px;
}


/* Main Body */

.main-body{
  float:left;
  margin:0px auto;
  width:55%;
  text-align:center;
}

.article-title{
  font-family: Oswald, sans-serif, 'Open sans';
  color: hsla(222, 86%, 21%, 1);
  font-weight: 400;
  font-size: 63px;
  line-height: 1.1;
  margin-bottom: 0px;
  padding-left: 122px;
  padding-top: 21px;
}

.title-authors{
  margin-top: 8px;
  float: left;
  position:relative;
  padding-left: 165px;
  font-size: 15px;
}

.title-authors li{
   float:left;
}

.title-authors li img{
  float:left;
  height:22px;
  width: 22px;
}

.anne{
  padding-top: 5px;
  padding-left: 7px;
  color:hsla(222, 57%, 29%, 1);}

.date-time{
  padding-top: 5px;
  padding-left:12px;
  float:left;
}

.content{
  float: left;
  text-align: left;
  padding-left: 162px;
  padding-top: 6px;
  font-family: Oswald, sans-serif, 'Open sans';
  color: hsla(0, 0%, 27%, 1);
  font-weight: 100;
}

blockquote{
  font-size: 22px;
  color: hsla(205, 67%, 55%, 1);
  margin-top: 34px;
  margin-bottom: 10px;
  margin-left: 168px;
  padding-left: 15px;
  border-left: 2px solid #ccc;
  float: left;
  font-family: Oswald, sans-serif, 'Open sans';
}

.links{
  float: left;
  height: 25px;
  vertical-align: center;
  margin: 0 auto;
  width: 100%;
  padding-top: 14px;
  padding-left: 0px;
  margin-left: -21px;
}

.links li{
  background-color: hsla(205, 21%, 55%, 1);
  height: 30px;
  padding-top:12px;
  margin-left: -41px;

}

#comment-link{
  padding-top: 0px;
  width: 158px;
}

#icon-links{
  width: 18px;
  height: 17px;
  background-color: hsla(0, 0%, 25%, 1);
  padding: 6.5px;
  float: left;
}

#link-words{
  float:right;
}

#later-link{
  width:129px;
  height:15px;
  background-color:hsla(0, 0%, 25%, 1);
}

#icon-upload{

}

#share-link{
  width:154px;
  height:16px;
  background-color:hsla(0, 0%, 25%, 1);
}


#icon-share{

}


/* SIDEBAR */

.sidebar{
  float: right;
  overflow: auto;
  position: relative;
  width: 45%;
  font-family: Oswald, sans-serif, 'Open sans';
}

.sidebar-list li{
  display:block;
}
#sb-avatar{
  float:left;
}

#avatar-img{
  padding-left: 130px;
  padding-top: 22%;
  width: 84px;
  height: 84px;
}

#sb-anne{
  padding-left: 137px;
  padding-top: 11px;
  font-size: 14px;
}

#tfi{
  padding-left:111px;
  font-size:12px;
  font-weight:100;
  padding-top:2px;
}

#twitter{
  padding-right:30px;
  margin-left:-27px;
}

#facebook{
  padding-right:31px;
}

.ad-list{
  padding-bottom: 48px;
}

#ad-image{
  padding-left: 33px;
  padding-top: 4px;
}

#ad{
  text-align:right;
  font-weight:100;
  text-decoration: underline;
  font-size: 13px;
  color: grey;
  letter-spacing: 1px;
}

#sidebar-heading{
  padding-top: 44px;
  font-size: 18px;
  padding-left: 33px;
  color: hsla(205, 67%, 55%, 1);
}

#sidebar-content{
  padding-right: 291px;
  padding-left: 33px;
  margin-top: -12px;
  font-weight: 100;
  color:grey;
}
